<header>
    <h1>Mi Aplicación</h1>
    <% if (true) { %>
      <nav>
        <ul>
          <li><a href="/dashboard">crear nuevo usuario</a></li>
          <li><a href="/logout">usuarios conectados</a></li>
        </ul>
      </nav>
    <% } else { %>
      <nav>
        <ul>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    <% } %>
  </header>
  