<%- include('partials/head') %> <%- include('partials/header') %>
<style>
  form {
    display: flex;
    display: block;
    div {
      padding: 5px;
    }
  }
  h1 {
    text-align: center;
  }
  label {
    color: #0d6efd;
  }
  input {
    margin-left: 20px;
  }
</style>

<body>
  <div>
    <h1>Ajustes</h1>
  </div>
  <hr>
  <div class="content conten-form">
      <form action="/configs" method="post">
        <h3>Router</h3>
      <div>
        <div>
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Direccion IP</span>
            <input type="text" class="form-control" placeholder="Ejemplo 192.168.88.1" aria-label="Username" aria-describedby="addon-wrapping" name="host">
        </div>
      </div>
      <div>
        <hr>
        <h3>
            Puerto del servidor de la aplicación
        </h3>
        <div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Puerto</span>
                <input type="text" class="form-control" placeholder="Ejemplo: 3001" aria-label="Username" aria-describedby="addon-wrapping" name="port">
            </div>            
        </div>
        <div>
            <input type="submit" value="Guardar" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
  <hr>
</body>
