<h1>Login</h1>
<form action="/login" method="post">
  <div id="alert" style="color: red">
    <%= message%>
  </div>
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required value="josegomez">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required value="jose1574**">
  </div>
  <button type="submit">Login</button>
</form>
<%- include('partials/footer') %>

