
<%- include('partials/head') %>

<style>
  .login {
    display: flex;
    justify-content: center;
  }
  body {
    display: block;
    padding: 50px;
    text-align: center;
  }
</style>

<body>
    <div class="login">
      <h1>Inicio de sesión</h1>
    </div>

    
  <div id="alert" style="color: red">
    <%= message%></div>
  <div>

  <form action="/login" method="post">
    <div class="mb-3">
      <label for="user" class="form-label login">Usuario: </label>
      <input type="text" class="form-control" id="user" aria-describedby="emailHelp" name="username" value="josegomez">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label login">Clave:</label>
      <input type="password" class="form-control" id="password" name="password" value="jose1574**">
    </div>
    <div class="login">
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
  </form>
  <%- include('partials/footer') %>
</body>

